/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.venv/

# Local/private backup files
storage/database-backups/
storage/pm-archive-code-backups/
storage/framework/views/
*.sql
.env
.env.*
!.env.example
.venv/
